<h1>Tiny App</h1>
<% if (userId) { %>
  <p>Hello, <%= users[userId].email %>!</p>
  <p>
    <form action="/logout" method='post'>
      <input type="submit" value='Logout'>
    </form>
  </p>
<% } else { %>
<p><a href="/login">Login</a> or <a href="/register">Register</a></p>
<% } %>