<h1><a href="/urls">Tiny App</a></h1>
<% if (userId) { %>
  <table>
    <tr>
      <td>
        Hello, <%= users[userId].email %>!
      </td>
      <td>
        <form action="/logout" method='post'>
          <input type="submit" value='Logout'>
        </form>
        </td>
    </tr>
  </table>
<% } else { %>
<p><a href="/login">Login</a> or <a href="/register">Register</a></p>
<% } %>