<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tiny App</title>
</head>
<body>
    <%- include ./partials/_header %>    
  <table>
    <tr>
      <td><%= shortURL %> - </td>
      <td><%= urls[shortURL] %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <form action="/urls/<%= shortURL %>/update" method="post">
          <input type="text" id='longURL' name='longURL'>
          <input type="submit" value='Update' id="longURL">
        </form>
      </td>
    </tr>
  </table>
</body>
</html>